ALTER TABLE referrals ENABLE ROW LEVEL SECURITY;
ALTER TABLE users ENABLE ROW LEVEL SECURITY;

-- Allow the referrer to read their own referrals
CREATE POLICY "Allow referrer to read their referrals"
  ON referrals
  FOR SELECT
  USING (auth.uid()::uuid = referrer_id);

-- Allow inserting a referral if the user is the referrer or referred
CREATE POLICY "Allow insert for referrer or referred"
  ON referrals
  FOR INSERT
  WITH CHECK (
    auth.uid()::uuid = referrer_id OR
    auth.uid()::uuid = referred_id
  );

-- Allow users to read their own data
CREATE POLICY "Allow users to read their own data"
  ON users
  FOR SELECT
  USING (auth.uid()::uuid = id);

-- Allow all users to be selected for referral join (for display)
CREATE POLICY "Allow all users to be selected for referral join"
  ON users
  FOR SELECT
  USING (true);
