ALTER TABLE referrals DROP CONSTRAINT IF EXISTS referrals_referred_id_fkey; ALTER TABLE referrals ADD CONSTRAINT referrals_referred_id_fkey FOREIGN KEY (referred_id) REFERENCES users(id) ON DELETE CASCADE; ALTER TABLE referrals DROP CONSTRAINT IF EXISTS referrals_referrer_id_fkey; ALTER TABLE referrals ADD CONSTRAINT referrals_referrer_id_fkey FOREIGN KEY (referrer_id) REFERENCES users(id) ON DELETE CASCADE;
